/* page setup */
@page {
    size: a4 portrait;
    margin: 20mm;
    padding: 10mm 6mm;

    @top-left {
        font-size: 10pt;
        vertical-align: bottom;
        margin: 2mm;
        content: "Pictroid - Seminar Syntax und Semantik";
    }
    @top-right {
        font-size: 10pt;
        vertical-align: bottom;
        margin: 2mm;
        content: "Zürcher Hochschule für Angewandte Wissenschaften";
    }
    @bottom {
        font-size: 10pt;
        content: counter(page);
        vertical-align: top;
        text-align: right;
        margin: 2mm
    }
}


/* general formatting rules */
html,
body,
div {
  font: 12pt serif;
  padding: 0;
  margin: 0;
}

h1 {
    color: #2A4480;
    page-break-before: always;
    white-space: pre;
}

h2 {
    color: #687da8;
    white-space: pre;
}

.chapter p {
    margin: 0;
    padding: 0;
}

.chapter table {
    margin-top: 6mm;
    border-collapse:collapse;
}
.chapter th,
.chapter td {
    border: solid #2A4480 thin;
}

.chapter img {
    max-width: 100%
}

.chapter ul {
    list-style: none;
}

.chapter > ul {
    margin: 5mm 0mm 5mm 10mm;
}

.chapter > ul ul {
    margin-left: 6mm;
    list-style: none;
}

.chapter li:before {
    content:'\2022';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -16px;
    top: -2px;
    color: #2A4480;
    font-size: 20px;
}

.chapter li li:before {
    color: #687da8;
}


/* chapter counters */
#content {
    counter-reset: h1;
}

.chapter h1 {
    counter-increment: h1;
    counter-reset: h2;
}
.chapter h1::before {
    content: counter(h1) ".   ";
}

.chapter h2 {
    counter-increment: h2;
}
.chapter h2::before {
    content: counter(h1) "." counter(h2) ".  ";
}


/* TOC */
#toc {
    list-style-type: none;
    counter-reset: toc-level-1;
    margin: 0;
    padding: 0;
}
#toc > li {
    counter-increment: toc-level-1;
    white-space: pre;
}
#toc > li::before {
    content: counter(toc-level-1) ".  ";
}

#toc ol {
    list-style-type: none;
    counter-reset: toc-level-2;
    margin-left: 5mm;
}
#toc ol > li {
    counter-increment: toc-level-2;
    white-space: pre;
}
#toc ol > li::before {
    content: counter(toc-level-1) "." counter(toc-level-2) ".  ";
}

#toc a {
    text-decoration: none;
    color: black;
}
#toc a::after {
    content: leader('.') target-counter(attr(href), page);
}


/* Footnotes */
.chapter h1 {
    counter-reset: footnote;
}

.footnote {
    counter-increment: footnote;
    float: footnote;
    font-size: 10pt;
}

.footnote::footnote-call {
    content: "[" counter(h1) "." counter(footnote) "]";
    font-size: 10pt;
    vertical-align: top;
}

.footnote::footnote-marker {
    content: "[" counter(h1) "." counter(footnote) "]";
    font-size: 10pt;
    padding-right: 3mm;
}

@page {
    @footnotes {
        border-top: solid black thin;
        padding-top: 4mm;
        padding-left: 10mm;
        margin-right: 300px;
    }
}


/*source*/
.source .additional {
    display: none;
}
#sourceCatalog {
    margin-left: 0;
}
#sourceCatalog li {
     padding: 2mm 0;
 }
#sourceCatalog li:before {
    content: '';
}


/*front page*/
.frontpage {
    counter-reset: page 1;
    page: frontpage;
}
.frontpage h1 {
    margin-top: 100mm;
    margin-bottom: 0;
    font-size: 60pt;
}
.frontpage h2 {
    margin-top: -2mm;
    padding-bottom: 4mm;
    font-size: 20pt;
    font-weight: normal;
    border-bottom: solid #687da8 thin;
    color: #2A4480;
}
.frontpage p {
    color: #687da8;
    font-size: 14pt;
    line-height: 20pt;
    font-style: italic;
}

@page frontpage {
    @top-right {
      content: normal;
    }
    @top-left {
      content: normal;
    }
    @bottom {
      content: normal;
    }
}