/* COLORS
    dark blue:     #2A4480;
    normal blue: #687da8;
    light blue:    #d3dfed;
*/

/* page setup */
@page {
    size: a4 portrait;
    margin: 20mm;
    padding: 10mm 6mm;

    @top-left {
        font-size: 10pt;
        vertical-align: bottom;
        margin: 2mm;
        content: "Pictroid - Seminar Syntax und Semantik";
    }
    @top-right {
        font-size: 10pt;
        vertical-align: bottom;
        margin: 2mm;
        content: "Zürcher Hochschule für Angewandte Wissenschaften";
    }
    @bottom {
        font-size: 10pt;
        content: counter(page);
        vertical-align: top;
        text-align: right;
        margin: 2mm
    }
}


/* general formatting rules */
html,
body,
div {
  font: 12pt serif;
  padding: 0;
  margin: 0;
}

h1 {
    color: #2A4480;
    page-break-before: always;
    white-space: pre;
}

h2 {
    color: #687da8;
    white-space: pre;
}

h3 {
    color: #2A4480;
    white-space: pre;
}

.clear {
    clear: both;
}

.chapter p {
    margin: 0;
    padding: 0;
}

.chapter table {
    width: 100%;
    margin-top: 6mm;
    border-collapse:collapse;
}
.chapter table th {
    text-align: left;
    color: #2A4480;
}
.chapter table th,
.chapter table td {
    border: solid #2A4480 thin;
    padding: 1mm;
}
.chapter table th:first-of-type,
.chapter table td:first-of-type {
    border-left: none;
}
.chapter table th:last-of-type,
.chapter table td:last-of-type {
    border-right: none;
}

.chapter table tr:nth-child(odd) {
    background-color: #d3dfed;
}

.chapter img {
    max-width: 100%
}

.chapter ul {
    list-style: none;
}

.chapter > ul,
.chapter > ol,
.chapter > figure,
.chapter > table {
    margin: 5mm 0;
    page-break-inside: avoid;
}
.chapter > ul,
.chapter > ol {
    margin-left: 10mm;
}

.chapter > ol,
.ol-item-reference {
    color: #2A4480;
    font-weight: bold;
}

.chapter > ul ul,
.chapter > ul ol {
    margin-left: 6mm;
    list-style: none;
}

.chapter ul li,
.chapter li p {
    color: #000000;
    font-weight: normal;
}

.chapter ul li:before {
    content:'\2022';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -16px;
    top: -2px;
    color: #2A4480;
    font-size: 20px;
}

.chapter li li:before {
    color: #687da8;
}

.chapter div.column {
    float: left;
    width: 32%;
}

/*.chapter table.symbols th:nth-child(even),*/
.chapter table.symbols tr:nth-child(odd) td:nth-child(even) {
    background-color: #d3dfed;
}
.chapter table.symbols td:nth-child(odd) {
    width: 54px;
    background-color: #ffffff;
    padding: 1mm 1mm 0 1mm;
}

.chapter table.symbols .symbol {
    width: 54px;
    height: 54px;
    display: inline-block;
    background-repeat: no-repeat;
}
.chapter .symbols .symbol.left {
    background-image:url('../img/symbols/left.png');
}
.chapter .symbols .symbol.right {
    background-image:url('../img/symbols/right.png');
}
.chapter .symbols .symbol.up {
    background-image:url('../img/symbols/up.png');
}
.chapter .symbols .symbol.down {
    background-image:url('../img/symbols/down.png');
}
.chapter .symbols .symbol.stone {
    background-image:url('../img/symbols/stone.png');
}
.chapter .symbols .symbol.field {
    background-image:url('../img/symbols/field.png');
}
.chapter .symbols .symbol.repeat {
    background-image:url('../img/symbols/repeat.png');
}
.chapter .symbols .symbol.endrepeat {
    background-image:url('../img/symbols/endrepeat.png');
}
.chapter .symbols .symbol.condition {
    background-image:url('../img/symbols/condition.png');
}
.chapter .symbols .symbol.endcondition {
    background-image:url('../img/symbols/endcondition.png');
}
.chapter .symbols .symbol.two {
    background-image:url('../img/symbols/two.png');
}
.chapter .symbols .symbol.infinite {
    background-image:url('../img/symbols/infinite.png');
}


/* chapter counters */
#content {
    counter-reset: h1;
}

.chapter h1 {
    counter-increment: h1;
    counter-reset: h2;
}
.chapter h1::before {
    content: counter(h1) ".   ";
}

.chapter h2 {
    counter-increment: h2;
    counter-reset: h3;
}
.chapter h2::before {
    content: counter(h1) "." counter(h2) ".  ";
}

.chapter h3 {
    counter-increment: h3;
}
.chapter h3::before {
    content: counter(h1) "." counter(h2) "." counter(h3) ".  ";
}

/*captions*/
.chapter caption,
.chapter figcaption {
    caption-side: bottom;
    text-align: left;
    color: #2A4480;
    font-size: 10pt;
    padding: 2mm 0 0 4mm;
}
#content {
    counter-reset: caption-table caption-img;
}

.chapter table caption {
    counter-increment: caption-table;
}
.chapter table caption::before {
    content: "Tabelle " counter(caption-table) ": ";
}

.chapter figure figcaption {
    counter-increment: caption-img;
}
.chapter figure figcaption::before {
    content: "Abbildung " counter(caption-img) ": ";
}


/* TOC */
#toc {
    list-style-type: none;
    counter-reset: toc-level-1;
    margin: 0;
    padding: 0;
}
#toc > li {
    counter-increment: toc-level-1;
    white-space: pre;
}
#toc > li::before {
    content: counter(toc-level-1) ".  ";
}

#toc ol {
    list-style-type: none;
    counter-reset: toc-level-2;
    margin-left: 5mm;
}
#toc ol > li {
    counter-increment: toc-level-2;
    white-space: pre;
}
#toc ol > li::before {
    content: counter(toc-level-1) "." counter(toc-level-2) ".  ";
}
#toc a {
    text-decoration: none;
    color: black;
}
#toc a::after {
    content: leader('.') target-counter(attr(href), page);
}


/* Footnotes */
.chapter h1 {
    counter-reset: footnote;
}

.footnote {
    counter-increment: footnote;
    float: footnote;
    font-size: 10pt;
}

.footnote::footnote-call {
    content: "[" counter(h1) "." counter(footnote) "]";
    font-size: 10pt;
    vertical-align: top;
}

.footnote::footnote-marker {
    content: "[" counter(h1) "." counter(footnote) "]";
    font-size: 10pt;
    padding-right: 3mm;
}

@page {
    @footnotes {
        border-top: solid black thin;
        padding-top: 4mm;
        padding-left: 10mm;
        margin-right: 300px;
    }
}


/*catalogs*/
.source .additional {
    display: none;
}
#source_catalog {
    margin-left: 0;
}
#source_catalog li {
     padding: 2mm 0;
 }
#source_catalog li:before {
    content: '';
}

ul.caption_catalog li:before {
    content: '';
}
ul.caption_catalog {
    margin: 0;
    padding: 0;
}
ul.caption_catalog a {
    text-decoration: none;
    color: black;
}
ul.caption_catalog a::after {
    content: leader('.') target-counter(attr(href), page);
}


/*front page*/
.frontpage {
    counter-reset: page 1;
    page: frontpage;
}
.frontpage h1 {
    margin-top: 100mm;
    margin-bottom: 0;
    font-size: 60pt;
}
.frontpage h2 {
    margin-top: -2mm;
    padding-bottom: 4mm;
    font-size: 20pt;
    font-weight: normal;
    border-bottom: solid #687da8 thin;
    color: #2A4480;
}
.frontpage p {
    color: #687da8;
    font-size: 14pt;
    line-height: 20pt;
    font-style: italic;
}

@page frontpage {
    @top-right {
      content: normal;
    }
    @top-left {
      content: normal;
    }
    @bottom {
      content: normal;
    }
}